*{
  margin: 0%;
  padding: 0%;
}

.titulo{
    font-family: "Special Gothic Expanded One", sans-serif;
    text-align: center;
    padding-top: 250px;
}

#inicio {
  position: relative;
  background-image: url("img/matt-hardy-6ArTTluciuA-unsplash.jpg");
  height: 100dvh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
}

.navigation-card {
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  background-color: rgba(92, 108, 116, 0.192);
  padding: 15px 20px;
  border-radius: 50px;
}

.tab {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  overflow: hidden;
  background-color: rgba(47, 55, 59, 0.144);
  padding: 15px;
  border-radius: 50%;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s;
}

.tab:hover {
  background-color: rgba(47, 55, 59, 0.267);
}

html, body {
  height: 100%;
}

#acerca-de-mi {
  padding: 40px 20px;
  max-width: 900px;
  margin: auto;
}

#acerca-de-mi p {
  font-size: 1rem;
  line-height: 1.6;
  text-align: justify;


}

.titulo p {
  font-size: 1.5rem;
  margin-top: 10px;
}


.titulo h1 {
  font-size: 3rem; /* tamaño adaptable */
}

@media (max-width: 1024px) {
  .titulo {
    padding-top: 200px;
  }

  .titulo h1 {
    font-size: 2.5rem;
  }

  .titulo p {
    font-size: 1.2rem;
  }
}

@media (max-width: 600px) {
  .titulo {
    padding-top: 150px;
  }

  .titulo h1 {
    font-size: 2rem;
  }

  .titulo p {
    font-size: 1rem;
  }

  .navigation-card {
    gap: 10px;
    padding: 8px 12px;
  }

  .tab {
    width: 30px;
    height: 30px;
    padding: 8px;
  }

  #acerca-de-mi h2 {
    font-size: 1.5rem;
  }

  #acerca-de-mi p {
    font-size: 0.95rem;
  }
}





